
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;

}
.description h1{
    color:#F97300 ;
}
.description p{
    color:#666;
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
}
.description button{
    border:1px  solid #F97300;
    background:#F97300;
    color:#fff;
}

.categories {
    background: green;
    min-height: 10rem;
}
